// Default styles
    
$font-stack: "Montserrat Alternates", sans-serif
$text-color: #D9D9D9
$text-color-secondary: #8C8C88
$body-bg-color: #202426
$bg-color: #202426
$bg-color-secondary: #4d5052
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, #313f3a 0%, #696868 100%)

// Media query sizes

$mn: '(max-width: 570px)'
$vsm: '(max-width: 960px)'
$sm: '(max-width: 1026px)'
$md: '(max-width: 1052px)'
$lg: '(max-width: 1286px)'
    